.container{
    border: 3px solid orange;
    width: 500px;
    ul{
        border: 2px solid green;
        margin: 5px;
        padding: 10px;
        list-style: none;
        
        li{
            min-height: 35px;
            border: 1px solid red;
            width: 200px;
            margin: 5px;
        }
        .age{
            color: blue;
        }
        .name{
            font-weight: 900;
            color: violet;
        }
    }
}

// 02

.container2{

    .btn{
        text-decoration: none;
        padding: 10px 20px;
        margin: 10px 0px;
        border: 1px solid lightgray;
        color: darkgray;
        border-radius: 5px;
        cursor: pointer;
    }

    &.active{
        color: white;
        background-color: orange;
    }
}

.fs{
    &-small{font-size: .7rem;}
    &-medium{font-size: .9rem;}
    &-large{font-size: 1.5rem;}
}